.post-type-archive-product{
img{
    max-height: 250px;
     width: auto;
 }}

.page-header{
    border-bottom: 1px dashed #c8c8c8;
    margin-bottom: 3rem;
    text-align: center;
    display: inline;
}
.taxonomy-description {
    margin: 2rem auto 3rem;
    max-width: 800px;
}

