.post-type-archive-product{
img{
    max-height: 250px;
     width: auto;
 }}

.page-header{
    border-bottom: 1px dashed #c8c8c8;
   
    text-align: center;
    display: inline;
}
.taxonomy-description {
    margin: 2rem auto 3rem;
    max-width: 800px;
}

.tax-product_type{
.all-items{
display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:15px 30px;
    margin-bottom: 90px;
}}
.post-type-archive-product .entry-content{
    display: none;
}
