
.site-content{
	display: flex;
	width: 100%;
    flex-direction: row;
    flex-wrap: wrap;

	
}
.tent-logo{
	height: 50px;
	width: 50px;
	order: 1;
	margin-left: auto;
}

.centered-logo{
    transform: translate(50%, 20%);
}

.widget-area{
width: 200px;
}
 
     
.site-description{
	display: none;
}
.header-menu{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
	
}
fieldset{
	display: inline;
}

.page-home{
.product-type-blocks{
    display: flex;
    justify-content: space-between;
    text-align: center;
}}
.page-home{
.product-type-block-wrapper{
    border: 1px solid grey;
    border-top-width: 5px;
    flex: 0 1 23.5%;
    max-width: 23.5%;
    padding: 0.75rem;
}}
.page-home{
    .product-type-blocks{
        p{ margin-bottom: 1.5rem;
        }}}
        
        .product-type-block-wrapper{
        img{
            width: 70px;
            height:70px;
        }}
        .product-type-blocks p:last-child{
    margin-bottom:0.75rem
}
a.btn{
background:#248a83;text-decoration:none; 
 color:white;
padding: .75rem 1.5rem;
cursor:pointer;
font-family: Novocento Sans Web,sans-serif;
font-size: .9rem;
text-transform:uppercase;
}
    .container{
    margin-right: 100px;
    margin-left: 100px;
     width: 1120px; 
}
.page-home{
    .product-info{
        margin-bottom: 4.5rem;
    }
}

/*journal part*/
.page-home{
    .f-journals{
        display: flex;
        justify-content: space-between;
    }
    .f-journal {
        width: 33.333%;
        padding: 1rem;
        .journal-thumbnail {
            width: 100%;
        }
    }
}
.journal-thumbnail{
    background-size:cover;
    height:300px;
    // width: 250px;
    position: relative;

}

.journal-meta {
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column-reverse;
    height: 180px;
    justify-content: space-around;
    padding: .75rem;
}

.related-post-title{
    color:#248a83;
}
.comments-post{
    color: #404040;
    font-size: .75rem;
    text-align: left;
}
.read-entry
a{color: black;
    text-decoration:none; 
   background-color:white;
   padding: .75rem 1.5rem;
   border: black;
    border-style: solid;
    border-width: 1px;
    font-weight: 300;

}
.page-home{
a:hover{
    background-color:#248a83;
    color:white;
    border: none;
}}
.read-entry{
    margin-left: 10px;
}
.page-home .entry-header .entry-title{
    display: none;
}

.page-home .wrapping{
    margin-bottom: 100px;
    display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr ;
grid-template-rows:1fr 1fr ;
grid-template-areas:'girl girl beach beach' 
                    'girl girl mountain sky' ;
}
.canoe-girl{ 
    width: 550px;
    height: 550px;
    grid-area:girl;
    object-fit: cover;
}
.beach{ 
    height: 265px;
    width: 550px;
    object-fit: cover;
    grid-area:beach;
}

.mountain{ 
    width: 265px;
    height: 100%;
    object-fit: cover;
    grid-area:mountain;
}

.sky{
    width: 265px;
    height: 100%;
    object-fit: cover;
    grid-area:sky;
}
// GRID IS DONE
.nighttxt{
    position: absolute;
    right:190px;
    top: 90px;
}
.naturetxt{
    position: absolute;
    left: 46px;
}
.viewtxt{
    position: absolute;
    left: 586px;
    bottom: 148px;
}
.latest-adventures{
   position: relative;
   
}
.startxt{position: absolute;
    right: 113px;
    bottom: 176px;}

.home .wrapping a{
    text-decoration: none;
     color: white;
     background: transparent;
     font-family: Merriweather Web,serif;
     font-weight: 100;
 
}
.naturetxt .titulo{
    color: white;
    font-size: 48px;
    
}
.nighttxt .titulo a{
color: white;
font-size: 38px;

}
.viewtxt .titulo a {
    font-size: 24px;
    
}
.startxt .titulo a{
    font-size: 24px;
   
}
.wrapping a.white-btn{padding: 10px;
    border: 2px solid white;
color: white;}

.page-home .site-main h2 {
    text-align: center;
    color: #2f1339;
    font-size: 40px;
    font-family: Novovento Sans Web,sans-serif;
    margin-bottom: 50px;
    font-weight: 300;
    text-transform: uppercase;}

    .more-adv-btn{
        color: white;
        background:#248a83;
        margin-bottom: 0;
        display: inline;
        margin-top: 14px;
        width: 190px;
        text-align: center;
    }
    .page-home h3.related-post-title{
        font-size: 22.5px;
        margin-top: 0;
    }
    
    