.blog{
 .entry-header{
        .entry-title{
         a{background-color: #248A83;
            text-decoration: none;
            color: white;
            padding: 20px;
            position: absolute;
            top: 5%;
            left: 0%;
            max-width: 75%;
            }}}}
    

.blog{
    .entry-header{ position: relative;
        img{    width: 100%;
        }}}

.blog{
    .entry-header{
        .entry-meta{
            background-color: #248A83;
            color: white;
            display: inline-block;
             padding: 8px;
             position: absolute;
             bottom: 12.5px;
             right: 5px;
}}}


.blog{
    .site-content{
        margin-right: auto;
        width: 1120px;
        padding-top: 3rem;
}}
.blog{
.entry-header{
    .entry-content{
    margin: 0;
}}}

.blog{.content-area{
    border-right: #d2cfcf;
    border-right-width: 1px;
    border-right-style: solid;
    margin-left: 100px;
}}

h2.widget-title 
{color: #2f1339;}
.blog.site-main{
    padding: 50px;
    }
   
   