 .page-about  {
.entry-header{
 .entry-title{display: none;

   }
 }
}
 
 
 .site-main{
    .entry-content 
    p{ margin-left: auto;
       margin-right: auto;
       max-width: 800px;}
    h2{
    text-align: center;
    color: #2F1339;
    font-size: 34px;
    font-family: Novovento Sans Web,sans-serif;
  
 }
}
.page-about  {
.entry-content{
   margin: 2.5rem 18rem 4rem;
}}
.page-about .site-main{
   padding: 0;
}
 