
.page-find-us{
.entry-content {
       margin-left: 50px;
}}
.widget-area{
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 500px;
    top: 100px;
   
  
}
.page-find-us .entry-content {
    margin: 0;
    border-right: 1px solid gray;}
    // .figure {
    //     margin: 1em 180px;
    // // } this is to go to half of the page 
    .custom-html-widget {
    a{
        text-decoration: none;
        color:#248a83;line-height: 3rem;
    }}
    .page-find-us ul{
        margin:0;
    }
    .page-find-us{
        .wpcf7-form-control-wrap{
    .wpcd7-form-control{

        width: 60%;
    }}}
