
.page-find-us{
.entry-content {
    margin:0px;
}}
.widget-area{
    padding-left: 280px;
    width: 40%;
  
}
.page-find-us .entry-content {
    margin: 0;
    border-right: 1px solid gray;}
    // .figure {
    //     margin: 1em 180px;
    // // } this is to go to half of the page 