
.page-find-us{
.entry-content {
       margin-left: 50px;
}}
.widget-area{
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 450px;
    top: 100px;
  
}
.page-find-us .entry-content {
    border-right: 1px solid gray;
    padding-right: 60px;}

    .custom-html-widget {
    a{
        text-decoration: none;
        color:#248a83;line-height: 3rem;
    }}
    .page-find-us ul{
        margin:0;
    }
    .page-find-us{
        .wpcf7-form-control-wrap{
    .wpcd7-form-control{

        width: 60%;
    }}}

    .page-find-us .content-area {
        margin-left: 200px;}
        
        .page-find-us .site-main .entry-content{
            width: 680px; margin-bottom: 120px;
        }

        .page-find-us .widget_archive ul{
            text-decoration: none;
         color: #248a83;
        }